body, html {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}


.header {
    background-color: #F6CD00;
    padding: 10px;
    height: 15%;
    text-align: center;
    color: #fff;
    border-bottom-left-radius: 50px; /* Rounded bottom left corner */
    border-bottom-right-radius: 50px; /* Rounded bottom right corner */
    /* box-shadow: 0px 14px 18px yellow; Yellow shadow */
    position: relative;
    z-index: 1; /* backgd 요소를 header 뒤에 겹치게 함 */
    
}
.backgd {
    position: absolute;
    background-color: rgb(255, 233, 124);
    padding: 10px;
    width: 98%;
    height: 14%;
    left: 10px;
    text-align: center;
    color: #fff;
    border-bottom-left-radius: 50px; /* Rounded bottom left corner */
    border-bottom-right-radius: 50px; /* Rounded bottom right corner */
    /* z-index: -1; backgd 요소를 header 뒤에 겹치게 함 */
}

.header h1 {
    font-size: 50px;
    
}

.header .fas.fa-image {
    position: absolute;
    top: 50%;
    left: 5%;    
    transform: translateY(-50%);
    color: #fff;
    font-size: 50px;
    cursor: pointer;
}


.header .fas.fa-shopping-bag {
    position: absolute;
    top: 50%;
    right: 100px;
    
    transform: translateY(-50%);
    color: #fff;
    font-size: 50px;
    cursor: pointer;
}


.content {
    height: 100%; /* Allows content to grow and fill remaining space */
    overflow-y: auto;
    display: grid; /* Change display property to grid */
    grid-template-columns: repeat(2, 1fr); /* Arrange items in 2 columns */
    grid-gap: 20px; /* Add gap between grid items */
    padding: 50px; /* Padding for all sides */
    scrollbar-width: none; /* Firefox에 대한 스크롤바 숨김 */
    -ms-overflow-style: none; /* IE 및 Edge에 대한 스크롤바 숨김 */
}

.my_img::-webkit-scrollbar {
    display: none; /* Chrome, Safari 및 Opera에 대한 스크롤바 숨김 */
}

.item {
    display: flex;
    justify-content: space-between; /* Distribute items along the main axis */
    align-items: center;
    height: 300px;
    padding: 50px;
    border-radius: 25px;
    color: #fff;
    margin: 10px;
    overflow: hidden;
}

.item:nth-child(1) {
    background-image: url('/static/main/img/bg_1.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}
.item:nth-child(2) {
    background-image: url('/static/main/img/bg_2.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    
}
.item:nth-child(3) {
    background-image: url('/static/main/img/bg_3.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}
.item:nth-child(4) {
    background-image: url('/static/main/img/bg_4.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    
}
.item:nth-child(5) {
    background-image: url('/static/main/img/bg_5.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    
}
.item:nth-child(6) {
    background-image: url('/static/main/img/bg_6.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    
}
.item:nth-child(7) {
    background-image: url('/static/main/img/bg_7.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}
.item img{
    margin-left: 70px;
    /* margin-right: 40px ; */
    max-width: 100%; /* 변경된 부분: 이미지를 부모 요소에 맞게 최대 너비로 설정 */
    max-height: 100%;
    width : 50%; /* 변경된 부분: 이미지의 높이는 비율에 맞게 자동 조정됨 */
    height: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
/*
width: 700px;
    height: 500px; 
    max-width: 60%;
    max-height: 300px; 
    border-radius: 10px;
    margin-bottom: 10px;


*/
.text-container{
    padding: auto;
    text-align: left;
    flex-grow: 1;
}

.text-container .tag {
    font-weight: 200; /* Set font weight to thin */
    font-size: 27px; /* Reduce font size */
}



.item p{
    /* max-width: 35%; */
    font-size: 50px; /* 텍스트 크기 */
    font-weight: bold; 
    text-align: left; /* Align text to the left */
}


.large-item {
    grid-column: span 2; /* Make large-item span 2 columns */
    display: flex;
    align-items: center;
    
}

.large-item img{
    margin-left: 0px;
    margin-right: 40px ;
    max-width: 100%; /* 변경된 부분: 이미지를 부모 요소에 맞게 최대 너비로 설정 */
    max-height: 100%;
    width : 30%; /* 변경된 부분: 이미지의 높이는 비율에 맞게 자동 조정됨 */
    height: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    
}


.large-item i {

    color: #fff;
    font-size: 50px;
    cursor: pointer;
}


.search-bar {
    background-color: #F6CD00; /* Background color */
    padding: 30px; /* Padding */
    height: 10%;
    text-align: center;
    border-top-left-radius: 20px; /* Rounded top left corner */
    border-top-right-radius: 20px; /* Rounded top right corner */
}

.search-bar hr {
    border-radius: 10px;
    border: none;
    background-color: white;
    width: 5%;
    height: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.search-bar i{
    position:relative;
    left: 45px;
    /*bottom: 50px; */
    font-size: 24px;
    font-weight: 900;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    height: 50%;
    padding-left: 50px;
    border-radius: 16px;
    border: none;
    outline: none;
    font-family: "Font Awesome 5 Free"; /* 돋보기 아이콘 폰트 지정 */
    font-size: 24px;
    font-weight: 900;
    background-color: rgb(255, 233, 124); 
}
