<!DOCTYPE html>
<html>
    <head>
        <title>Video Stream</title>
    </head>
    <body>
        <h1>Video Stream Example</h1>

        <video id="video" width="640" height="480" autoplay></video>
        <!-- <img src="{% url 'video_stream' %}" width="640" height="480">/// -->
    </body>
    <script>
        const video = document.getElementById('video');

        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
            .then(function(stream) {
                video.srcObject = stream;
            })
            .catch(function(err) {
                console.log("An error occurred: " + err);
            });
        }
    </script>
</html>
