{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #videoContainer {
            position: relative;
        }
        #videoContainer video {
            display: block;
            width: 100%;
            height: auto;
            margin: 0 auto; /* 수평 가운데 정렬 */
        }
        #videoControls {
            position: absolute;
            top: 0;
            /* left: 350px;
            top:20px; */
            z-index: 1;
        }
        #drawControls {
            position: absolute;
            top: 0;
            left: 1200px;
            top: 700px;
            z-index: 1;
        }
        #modalImage {
            max-width: 100%;
            max-height: 100%;
        }

        /* 모달1 스타일 */
        .modal1 {
            display: none;
            position: fixed;
            z-index: 2;
            left: 50%;
            top: 50%;
            width: 200px;
            height: 200px;
            transform: translate(-50%, -50%);
        }
        /* 모달2 스타일 */
        .modal2 {
            display: none;
            position: fixed;
            z-index: 3;
            left: 20%;
            top: 55%;
            width: 40px;
            height: 40px;
            transform: translate(-50%, -50%);
        }

        /* 모달3 스타일 */
        .modal3 {
            display: none;
            position: fixed;
            z-index: 3;
            left: 90%;
            top: 55%;
            width: 40px;
            height: 40px;
            transform: translate(-50%, -50%);
        }

    </style>
</head>
<body>
    <div id="videoContainer">
        <input type="hidden" name="next_page" value="{{ next_page }}">
        {{ next_page }}
        <!-- 비디오를 표시할 영역 -->
        {% if user.is_authenticated %}
            <div style="display: flex; justify-content: center;">
                <video id="myVideo" autoplay>
                    <source src="{% static 'img/ft1.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div id="videoControls">
                <button id="popupButton" style="background: none; border: none; cursor: pointer;">
                    <img id="persistentButton" src="{% static '/img/video/back.png' %}" style="width: 50px; height: 50px;">
                </button>
            </div>
            <div id="drawControls">
                <!-- <img id="persistentButton" src="{% static '/img/video/back.png' %}" style="width: 50px; height: 50px;"> -->
            </div>
        {% else %}
            <h3><a href="{% url 'accounts:signup' %}">회원가입</a></h3>
            <h3><a href="{% url 'accounts:login' %}">로그인</a></h3>
        {% endif %}
    </div>

    <!-- 모달창 -->
    <div id="myModalContainer">
        <div id="myModal1" class="modal modal1">
            <img id="modalImage1" src="" alt="Popup Image">
        </div>
        <div id="myModal2" class="modal modal2">
            <img id="modalImage2" src="" alt="Popup Image">
        </div>
        <div id="myModal3" class="modal modal3">
            <img id="modalImage3" src="" alt="Popup Image">
        </div>
    </div>

    <script>
        window.onload = function() {
            var video = document.getElementById("myVideo");

            // 비디오가 로드되면 자동으로 재생합니다.
            video.addEventListener('loadedmetadata', function() {
                video.play();
            });

            // 창 크기가 변경될 때 모달의 위치와 크기를 조절합니다.
            window.addEventListener('resize', function() {
                adjustModalPosition();
            });

            // 버튼 클릭 이벤트 리스너
            document.getElementById('popupButton').addEventListener('click', function () {
                video.pause();
                showModal1Image();
                showModal2Image();
                showModal3Image();
            });

            // 초기에 모달의 위치와 크기를 조절합니다.
            adjustModalPosition();

            // 비디오의 특정 지점에서 버튼을 추가합니다.
            video.addEventListener('timeupdate', function() {
                var currentTime = video.currentTime;
                // 원하는 지점에서 이미지 버튼 추가
                if (currentTime > 5 && currentTime < 5.4) { // 예: 비디오 재생 시간 5초에서 10초 사이
                    var existingButton = document.getElementById("imageButton");
                    if (!existingButton) { // 이미지 버튼이 없으면 새로 추가
                        addImageButton();
                    }
                }
            });

            // 모달 창을 닫는 함수
            function closeModal(modal) {
                modal.style.display = "none";
            }

            // 이미지 버튼을 추가하는 함수
            function addImageButton() {
                var existingButton = document.getElementById("imageButton");
                if (!existingButton) { // 이미지 버튼이 없으면 새로 추가
                    var drawControls = document.getElementById("drawControls");
                    var imageButton = document.createElement("img");
                    imageButton.src = "{% static '/img/video/draw.png' %}";
                    imageButton.style.width = "200px";
                    imageButton.style.height = "80px";
                    imageButton.id = "imageButton";

                    imageButton.addEventListener('click', function() {
                        var next_page = document.querySelector('input[name="next_page"]').value;
                        // form 엘리먼트 생성
                        var form = document.createElement('form');
                        form.method = 'post';
                        form.action = '/image/';

                        // hidden input 엘리먼트 생성하고 값을 설정
                        var next_page_input = document.createElement('input');
                        next_page_input.type = 'hidden';
                        next_page_input.name = 'next_page';
                        next_page_input.value = next_page;

                        // CSRF 토큰을 설정
                        var csrftoken_input = document.createElement('input');
                        csrftoken_input.type = 'hidden';
                        csrftoken_input.name = 'csrfmiddlewaretoken';
                        csrftoken_input.value = getCookie('csrftoken');

                        // form에 hidden input 추가
                        form.appendChild(next_page_input);
                        form.appendChild(csrftoken_input);

                        // body에 form 추가하고 submit
                        document.body.appendChild(form);
                        form.submit();
                    });
                    drawControls.appendChild(imageButton);
            }}

            // CSRF 토큰을 가져오는 함수
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // 이름이 일치하는 쿠키를 찾음
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            // 모달의 위치와 크기를 조절하는 함수
        function adjustModalPosition() {
            var modal1 = document.getElementById("myModal1");
            var modal2 = document.getElementById("myModal2");
            var modal3 = document.getElementById("myModal3");

            // 창의 크기에 따라 모달1의 위치와 크기를 조절합니다.
            var screenWidth = window.innerWidth;
            var screenHeight = window.innerHeight;

            var modal1Width = 200;
            var modal1Height = 200;
            var modal1Left = (screenWidth - modal1Width) / 2;
            var modal1Top = (screenHeight - modal1Height) / 2;

            modal1.style.left = modal1Left + "px";
            modal1.style.top = modal1Top + "px";

            // 모달2의 위치를 모달1을 기준으로 조절합니다.
            var modal2Left = modal1Left;
            var modal2Top = modal1Top + (modal1Height * 0.2);

            modal2.style.left = modal2Left + "px";
            modal2.style.top = modal2Top + "px";

            // 모달3의 위치를 모달1을 기준으로 조절합니다.
            var modal3Left = modal1Left + (modal1Width * 4 / 5);
            var modal3Top = modal2Top;

            modal3.style.left = modal3Left + "px";
            modal3.style.top = modal3Top + "px";
        }

        // 모달 1창에 이미지를 추가하고 모달 창을 표시하는 함수
        function showModal1Image() {
            var modal1 = document.getElementById("myModal1");
            var modalImage1 = document.getElementById("modalImage1");
            modal1.style.display = "flex";
            modalImage1.src = "{% static 'ft/img/popup3_1.png' %}"; // 사용자가 원하는 이미지 경로로 변경
        }

        // 모달2 창에 이미지를 추가하고 모달 창을 표시하는 함수
        function showModal2Image() {
            var modal2 = document.getElementById("myModal2");
            var modalImage2 = document.getElementById("modalImage2");
            modal2.style.display = "flex";
            modalImage2.src = "{% static 'ft/img/popup3_2.png' %}"; // 사용자가 원하는 이미지 경로로 변경
            modal2.addEventListener('click', function() {
                window.location.href = '/';
            });
        };


        // 모달3 창에 이미지를 추가하고 모달 창을 표시하는 함수
        function showModal3Image() {
            var video = document.getElementById("myVideo");
            var modal1 = document.getElementById("myModal1");
            var modal2 = document.getElementById("myModal2");
            var modal3 = document.getElementById("myModal3");
            var modalImage3 = document.getElementById("modalImage3");

            modal3.style.display = "flex";
            modalImage3.src = "{% static 'ft/img/popup3_3.png' %}"; // 사용자가 원하는 이미지 경로로 변경
            modal3.addEventListener('click', function () {
                // 각 모달을 닫는 함수를 호출하여 모달 이미지를 닫습니다.
                closeModal(modal1);
                closeModal(modal2);
                closeModal(modal3);
                video.play();
            });
        };
    }
    </script>
</body>
</html>
